
        <input type="text" placeholder="Job" ng-model="word.job">
        <input type="text" placeholder="Name" ng-model="word.name">
        <input type="text" placeholder="Relations" ng-model="word.relations">
        <input type="number" placeholder="Number" ng-model="word.number1"><br>
        <input type="text" placeholder="Weather" ng-model="word.weather">
        <input type="text" placeholder="Day of Week" ng-model="word.day">
        <input type="text" placeholder="Location" ng-model="word.location">
        <input type="number" placeholder="Number" ng-model="word.number2">

        <button type="button" ng-click="submit(word)">Submit</button>
  